{% block content %}

  {% if form.errors %}
    <p class="error">Lo siento, usuario y/o password incorrecto.</p>
  {% endif %}
  <head>
    <title>Libreria Django</title>
    <!-- Bootstrap core CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">  
    <link href="estilo.css" rel="stylesheet">
  </head>
  <body>
    <h1>Libreria Django</h1>
    <form action="/listado/" method="post">{% csrf_token %}
      <label for="username">Usuario:</label>
      <input type="text" name="username" value="" id="username">
      <label for="password">Contraseña:</label>
      <input type="password" name="password" value="" id="password">

      <input type="submit" value="Entrar" class="btn btn-success" />
      <input type="hidden" name="next" value="{{ next|escape }}" />
      <a href="/registro/">Registro</a>
    </form>
  </body>
{% endblock %}


